.flexbox-container {
    display: flex;
}

.flexbox-item-top {
    background-color: #1f2937;
    color: white;
}

div.flexbox-item-top.flexbox-item-2.flexbox-item-3.flexbox-item-4 {
    justify-content: flex-end;
}