.navigation-top-banner {
    background-color: #1f2937;
    color: white;
    display: flex;
}

.navigation-top {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: flex-end;
}